<html>
    <head>
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>이름 : {{ name }}</div> 
        <div>나이 : {{ age }}</div> 
        <div>{{ userNick }}</div>
        <script src=""></script>
    </body>
</html>